<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://flowbite.com/docs/flowbite.min.js"></script>

</head>
<body th:fragment="navigationBar">
<nav class="fixed top-0 z-50 w-full bg-gray-50  border-gray-600">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div  class="flex items-center justify-start">
                <button sec:authorize="isAuthenticated()" data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-600">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>
                <a th:href="@{/}" class="flex ml-2 md:mr-24">
                    <img src="https://ikubinfoacademy.al/wp-content/uploads/2021/03/cropped-ikubINFO-Academy-me-ngjyra-01-1-2048x619.png"  class="h-6 mr-3 sm:h-10" alt="FlowBite Logo" />
                </a>
            </div>
            <div sec:authorize="!isAuthenticated()" class="flex items-center">
                <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Login
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <a th:href="@{/login}" data-tooltip-target="tooltip-default">
                   <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
                   </svg>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()" class="flex items-center">
                <div class="flex items-center ml-3">
                    <div>
                        <button  type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
                        </button>
                    </div>
                    <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow" id="dropdown-user">
                        <div class="px-4 py-3" role="none">
                            <p th:text="${#authentication.principal.firstname} +' '+ ${#authentication.principal.lastname} " class="text-sm text-gray-900" role="none">
                                Neil Sims
                            </p>
                            <p th:text="${#authentication.principal.email}"  class="text-sm font-medium text-gray-900 truncate" role="none">
                                neil.sims@flowbite.com
                            </p>
                        </div>
                        <ul class="py-1" role="none">
                            <li>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 " role="menuitem">Settings</a>
                            </li>
                            <li>
                                <a th:href="@{/logout}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<aside sec:authorize="isAuthenticated()" id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-gray-50 border-r border-gray-200 sm:translate-x-0 " aria-label="Sidebar">
    <div class="h-full px-3 overflow-y-auto bg-gray-50">
      <ul sec:authorize="hasAuthority('PROFESSOR')" th:replace="fragments/professor-sidebar :: professorSidebar"></ul>
        <ul sec:authorize="hasAuthority('STUDENT')" th:replace="fragments/student-sidebar :: studentSidebar"></ul>
    </div>
</aside>
</body>
</html>
