<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://flowbite.com/docs/flowbite.min.js"></script>

</head>
<body layout:fragment="page-content">
<section class="bg-white">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-gray-500">404</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-500 md:text-4xl">Page Not Found</p>
            <p class="mb-4 text-lg font-semibold  text-gray-900">Sorry, we can't find that page. You'll find lots to explore on the home page.</p>
            <a th:href="@{/}" class="inline-flex text-white bg-gray-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">Back to Homepage</a>
        </div>
    </div>
</section>
</body>