<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://flowbite.com/docs/flowbite.min.js"></script>

</head>
<body>
<div layout:fragment="page-content"  th:class="${isAuthenticated ?'sm:ml-64 p-4 pt-20':' p-4 pt-20'}">
    <div class="grid grid-cols-1 gap-3 xl:grid-cols-3 md:grid-cols-2  sm:grid-cols-3 sm:gap-6 p-5 sm:p-10">
        <div th:each="course : ${courses}" class="p-6 bg-white border border-gray-200 rounded-lg shadow">


            <div>
              <a href="#">
                <div class="flex items-center justify-between">
                   <h5 th:text="${course.name}" class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Jave Programming</h5>
                   <span th:text="${course.code}" class="mb-2 text-2xl font-bold tracking-tight text-gray-900"></span>
                </div>
              </a>
            </div>

            <p th:text="${course.catalogData}" class="mb-3 font-normal text-gray-700 "></p>
            <div class="flex items-center justify-between">
                <span class="flex items-center text-sm font-medium text-gray-900"><span class="flex w-1.5 h-1.5 bg-gray-600 rounded-full mr-1.5 flex-shrink-0"></span>Professor</span>
                <span class="flex items-center text-sm font-medium text-gray-900"><span class="flex w-1.5 h-1.5 bg-gray-600 rounded-full mr-1.5 flex-shrink-0"></span>Assignments</span>
                <span class="flex items-center text-sm font-medium text-gray-900"><span class="flex w-1.5 h-1.5 bg-gray-600 rounded-full mr-1.5 flex-shrink-0"></span>Students</span>
            </div>
            <div class="flex items-center justify-between">
                <span th:text="${course.professorName}" class="flex items-center text-xs font-medium text-gray-900">
                    <span class="flex w-2.5 h-2.5 bg-white rounded-full mr-1.5 flex-shrink-0"></span>Peewe</span>
                <span th:text="${course.totalAssignments}" class="flex items-center text-xs font-medium text-gray-900">
                    <span class="flex w-2.5 h-2.5 bg-white rounded-full mr-1.5 flex-shrink-0"></span>10</span>
                <span th:text="${course.totalStudents}" class="flex items-center text-xs font-medium text-gray-900">
                    <span class="flex w-2.5 h-2.5 bg-white rounded-full mr-1.5 flex-shrink-0"></span>35</span>
            </div>
        </div>
    </div>
</div>
</body>